<div class="wrapper">
  <scrollbar class="scrollbar">
    <h1>Johann Gambolputty</h1>
    <p>
      Johann Gambolputty de von Ausfern-schplenden-schlitter-crasscrenbon-fried-digger-dingle-dangle-dongle-dungle-burstein-von-knacker-thrasher-apple-banger-horowitz-ticolensic-grander-knotty-spelltinkle-grandlich-grumble-meyer-spelterwasser-kurstlich-himbleeisen-bahnwagen-gutenabend-bitte-ein-nürnburger-bratwustle-gerspurten-mitzweimache-luber-hundsfut-gumberaber-shönendanker-kalbsfleisch-mittler-aucher von Hautkopft of Ulm.
    </p>
    <img
      width="300"
      alt="Johann Gambolputty"
      src="https://y.yarn.co/bd597ea4-2832-4c9d-953f-3f08d3be2a86_screenshot.jpg"
    >
  </scrollbar>
</div>